<!DOCTYPE html>
<html lang="en">
<head>
    {{partial "head" .}}
    {{- partial "fancycss.html" . -}}
</head>
<body>
    {{partial "header" .}}
    <section class="tm-bg">
        <div class="container">
            <h1 class="text-center">{{.Title}}</h1>
        </div>
    </section>
    <div class="container my-5">
        <div class="masonry">
            {{range .Resources.Match "gallery/*" -}}
            {{ $image := . }}
            <div class="masonry-item">
                <a data-fancybox="gallery" href="{{.RelPermalink}}" aria-label="{{.Name}}">
                    <img src="{{ $image.RelPermalink }}" class="masonry-content lazyload" alt="{{.Name}}">
                </a>
            </div>
            {{- end }}
        </div>
    </div>
    {{partial "footer" .}}
    {{partial "scripts" .}}
    {{- partial "fancyjs.html" . -}}
</body>
</html>