<!DOCTYPE html>
<html lang="en">

<head>
    {{partial "head" .}}
    {{partial "singlecss" .}}
    {{- partial "fancycss.html" . -}}
    <!-- {{- partial "masonrycss.html" . -}} -->
    <style>
        p,
        h2,
        h3 {
            text-align: center;
        }

        .content {
            width: 50%;
            border-radius: 10px;
            box-shadow: 0 5px 10px rgb(154 160 185 / 38%), 0 15px 40px rgb(166 173 201 / 21%);
            padding: 2rem;
        }

        @media(max-width:600px) {
            .content {
                width: 80%;
            }
        }
    </style>
</head>

<body>
    {{partial "navbar" .}}
    <section class="intro_bg-single parallax">
        <div class="container">
            <h1 class="text-center">{{.Title}}</h1>
        </div>
    </section>
    <section class="bg-black py-5">
        <div class="container">
            <div class="center-box">
                <div class="content">
                    {{.Content}}
                </div>
            </div>
        </div>
        <div class="container my-5">
            <div class="row mb-2">
                
                {{range .Resources.Match "gallery/*" -}}
                {{ $image := . }}
                <div class="col-sm-3 col-xs-4 thumb">
                    <a data-fancybox="gallery" href="{{.RelPermalink}}" aria-label="{{.Name}}">
                        <img data-src="{{ $image.RelPermalink }}" class="zoom lazyload" alt="{{.Name}}">
                    </a>
                </div>
                {{- end }}
            </div>

            <!-- <div class="masonry">
                {{range .Resources.Match "gallery/*" -}}
                {{ $image := . }}
                <div class="masonry-item">
                    <a data-fancybox="gallery" href="{{.RelPermalink}}" aria-label="{{.Name}}">
                        <img data-src="{{ $image.RelPermalink }}" class="masonry-content" alt="{{.Name}}">
                    </a>
                </div>
                {{- end }}
            </div> -->
        </div>
    </section>
    {{partial "footer" .}}
    {{partial "scripts" .}}
    {{partial "fancyjs.html" .}}
</body>

</html>