<!DOCTYPE html>
<html lang="en">
<head>
    {{partial "head" .}}
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
    {{partial "header" .}}
    <section class="abt-main ptb-6">
        <div class="container">
            <h1 class="text-center" style="background: #33373e8c">ABOUT US</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline5">
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">GEO</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Welcome to Geo Tattoos</h3>
                                <p class="description">
                                    Welcome to our site! Longing for a hellish new tattoo on your body? Dying to replace
                                    that old tattoo of yours with a lively one? or simply want to add another for a glam
                                    look? The tattoo is a symbol of your passion, attitude and ideas; you customize your
                                    design, we visualize it on your skin! Geo Tattoos is an exclusive and one-stop
                                    resource for all your needs. we have an expertise in designing the most unique
                                    tattoos. we also do tattoo removal with utmost care and prudence.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">2002</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Founder</h3>
                                <p class="description">
                                    Geo tattoos salon is owned by George who began his enterprise in 2002. Situated at
                                    the heart of the city, Anna Nagar Roundtana. It has been attracting more and more
                                    people since then which was possible because of his 16+ years of professional
                                    experience.
                                    His skills are not only limited to body art but also to body piercing.
                                    <br>We are absolutely meticulous and cautious in our practices. The customers can be
                                    at ease with our sterilized working area and our established practice of
                                    disinfection. Care is taken to ensure that new needles are used
                                    each time. We also advise our customers on the after-care do's and don'ts.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">SAFE</span></div>
                            <div class="timeline-content">
                                <h3 class="title">What is cross contamination?</h3>
                                <p class="description">
                                    It is well known that with blood, there is a risk of contamination. Cross
                                    contamination occurs when an artist touches an unsterilized object with his gloves
                                    (telephone, uncovered spray bottles, chopped items), during the work. We have an
                                    established practice
                                    of disinfection and sterilization that eliminates the risk of cross contamination.
                                    You are in safe hands! Would you like to try out a tattoo? Walk in with an
                                    appointment. We are awaiting your visit to serve you best.
                                </p>
                            </div>
                        </div>
                        <div class="timeline">
                            <div class="timeline-icon"><span class="year">WHY</span></div>
                            <div class="timeline-content">
                                <h3 class="title">Why Geo Tattoos</h3>
                                <p class="description">
                                    We have some unique approach for their customers. We understand our customer's
                                    interests and needs properly. We make a proper analysis of the type- whether symbol,
                                    image, photo, icons, or name, or any texts etc. Also, we find out whether our
                                    customers
                                    want the tattoos to be visible or hidden inside the dress.
                                    <br>We show you a set of designs available in the brochure to choose from. Or if you
                                    want a custom design, we can make that too. You can either sketch it in a paper or
                                    we can also sketch the design in your mind.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="about ptb-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="text-center">Our Unique Approach</h2>
                    <p>Visible tattoos can be a hindrance for people to get government jobs, in some corporates where
                        there is strict formal attire, and in colleges where there are rules. We take special care when
                        it comes to female customers. If women ask
                        for visible tattoos, we check if their parents or husband knew about it. If they say yes, we
                        explain the advantages and disadvantages. We mostly suggest for hidden tattoos, considering the
                        woman’s future happenings like marriages,
                        jobs, etc.</p>
                    <h4>When a customer comes to us asking for a tattoo, these are the Steps we follow:</h4>
                    <ul style="margin-left: 15px">
                        <li><b>Step 1:&nbsp;</b>Verify their medical condition.</li>
                        <li><b>Step 2:&nbsp;</b>Verify if their age is 18+</li>
                        <li><b>Step 3:&nbsp;</b>If yes, then ask about their profession. If they are related to a
                            profession where it is necessary to present themselves formally, then we recommend only
                            hidden tattoos.</li>
                        <li><b>Step 4:&nbsp;</b>If they are college students, we verify if their parents knew about it.
                        </li>
                        <li><b>Step 5:&nbsp;</b>If everything is fine, we explain them both the advantages and
                            disadvantages of getting a tattoo. Also, tell them how long it’ll take to remove the tattoos
                            if they don’t want it in the future.</li>
                        <li><b>Step 6:&nbsp;</b>If they are fine with it, we start by testing their skin with small
                            tattoos and check for allergies. If the test is positive, only then we go for bigger ones.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="about1">
        <div class="parallax-overlay ptb-5">
            <div class="container">
                <h2 class="mb-5"> Meet our humble founder and the best Tattoo artist- George</h2>
                <div class="row" style="padding-bottom:60px">
                    <div class="col-md-6 col-sm-6">
                        <img src="/images/team.JPG" alt="George-pic" style="width:100%">
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <p>George is the founder of Geo Tattoos. He is very passionate about tattoos. A creative person
                            with a sense of humour. Very friendly with customers and gives them ease. He has more than
                            16 years experiene and has created a milestone
                            in the Chennai Tattoos industry. Also trained more than 30 artists and most of them have
                            their own tattoo shops. He makes everyone grow along with him!
                            <br>
                            <br>
                            <a href="https://www.facebook.com/geotattoos" target="_blank" rel="noopener"
                                aria-label="George facebook page">
                                <i class="fab fa-facebook fa-size"></i>
                            </a>&nbsp;
                            <a href="https://twitter.com/George33771134" target="_blank" rel="noopener"
                                aria-label="George Twitter page">
                                <i class="fab fa-twitter fa-size"></i>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{partial "footer" .}}
    {{partial "scripts" .}}
</body>
</html>