<!DOCTYPE html>
<html lang="en">

<head>
    {{- partial "head" . -}}
    <link rel="stylesheet" href="/css/home.css">
    {{- partial "fancycss" . -}}
</head>

<body>
    {{- partial "navbar" . -}}
    {{- block "content" . }}{{- end }}
    {{- partial "footer" . -}}
    {{- partial "scripts" . -}}
    <!-- carousel fade -->
    <script>
        $('#carouselHacked').carousel();
    </script>
    {{- partial "fancyjs" . -}}
    <!-- counter -->
    <script>
        $('.counter-count').each(function () {
            $(this).prop('Counter', 0).animate({
                Counter: $(this).text()
            }, {
                duration: 4000,
                easing: 'swing',
                step: function (now) {
                    $(this).text(Math.ceil(now));
                }
            });
        });
    </script>
    <!-- testimonial -->
    <script>
        $(document).ready(function () {
            //carousel options
            $('#quote-carousel').carousel({
                pause: true, interval: 10000,
            });
        });
    </script>
</body>

</html>