{{define "banner"}}
<section class="header">
    <div class="container">
        <div class="intro">
            <h1>Tattoo Making, Tattoo Removal, Tattoo Training</h1>
            <img src="/images/geo-logo.png" alt="geo tattoos logo">            
            <div class="stats">
                <h2>Chennai's most wanted tattoo artist<br>More than 50,000 tattoos made.<br>100% safety and hygiene.
                </h2>

            </div>

        </div>
    </div>
</section>

{{end}}

{{define "content"}}
<section class="blog bg-black">
    <div class="container">
        <div class="row">
            {{range $index, $val := .Site.Taxonomies.tags.blog}}
                <div class="col-md-8 mx-auto">
                    <h1>{{.Title}}</h1>
                    <p>{{.Content}}</p>
                </div>
            {{ end }}
        </div>
    </div>
</section>
<div class="container my-4 pb-5">
    <h1 class="text-dark py-5" style="color: black !important;">Latest Tattoo pictures</h1>
    <div class="row mb-5 pb-5">
        {{range $index, $val := .Site.Taxonomies.tags.galnew}}
        <div class="col-sm-3 col-xs-6 thumb">
            {{ .Title }}
            <a data-fancybox="gallery" href="{{.Page.Params.image}}" aria-label="{{.Name}}">
                <img data-src="{{.Page.Params.image}}" class="zoom" alt="{{.Name}}">
            </a>
        </div>
        {{- end }}
    </div>
</div>
<section class="bg-black py-5">
    <div class="container">
        <h1>Services</h1>
        {{range $index, $val := .Site.Taxonomies.tags.services}}
        <div class="row mb-4">
            <div class="col-lg-4 col-sm-6">
                <img data-src="{{.Page.Params.Image}}" class="img-responsive center-block" alt="{{.Name}}-image">
            </div>
            <div class="col-lg-8 col-sm-6 px-3">
                {{.Summary}}
                <a href="{{.RelPermalink}}" class="btn btn-block">Know more</a>
            </div>
        </div>
        {{end}}
        <h1 class="my-5 pt-3">Latest Tattoos Gallery</h1>
        <div class="row mb-2">
            {{range $index, $val := .Site.Taxonomies.tags.homegal}}
            <div class="col-sm-3 col-xs-4 thumb">
                <a data-fancybox="gallery" href="{{.Page.Params.image}}" aria-label="{{.Name}}">
                    <img data-src="{{.Page.Params.image}}" class="zoom" alt="{{.Name}}">
                </a>
            </div>
            {{- end }}
        </div>
        <a href="{{.Site.BaseURL}}gallery/tattoo-making" class="btn btn-block">View more</a>
    </div>
</section>
<section class="products py-5">
    <div class="container">
        <h1>Tattoo Products</h1>
        <div class="row">
            {{range $index, $val := .Site.Taxonomies.tags.products}}
            <div class="col-sm-3">
                <figure>
                    <figcaption class="text-center">{{.Title}}</figcaption>
                    <img data-src="{{.Params.Image}}" class="img-responsive center-block" alt="{{.Name}} img">
                </figure>
            </div>
            {{end}}
        </div>
        <div class="row">
            {{range $index, $val := .Site.Taxonomies.tags.prodesc}}
            <div class="col-sm-6 px-3">
                {{.Content}}
            </div>
            {{end}}
        </div>
    </div>
</section>
<!--counter-new-->
<section class="highlights parallax">
    <div class="overlay py-5">
        <div class="container">
            <h1>Geo Numbers</h1>
            <div class="row text-center">
                {{range $index, $val := .Site.Taxonomies.tags.counter}}
                <div class="col-sm-3">
                    <img data-src="{{.Page.Params.image}}" class="img-counter" alt="{{.Title}} icon">
                    <div class="mb-0">
                        <p class="counter-count">{{.Description}}</p>
                        <img data-src="/images/more.png" class="mb-2" alt="more sign">
                        <p class="count-p">{{.Title}}</p>
                    </div>
                </div>
                {{end}}
            </div>
            <hr>
        </div>
        <!-- testimonial-->
        <div class="container mh-200">
            <h1>What our customers say</h1>
            <div class="carousel slide" data-ride="carousel" data-interval="false" id="quote-carousel">
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner text-center">
                    {{range $index, $val := .Site.Taxonomies.tags.testimonials}}
                    {{if (eq $index 0)}}
                    <div class="item active">
                        {{else}}
                        <div class="item">
                            {{ end }}
                            <blockquote>
                                <div class="row">
                                    <div class="col-sm-8 col-sm-offset-2">
                                        {{.Content}}
                                        <small>{{.Title}}</small>
                                    </div>
                                </div>
                            </blockquote>
                        </div>
                        {{ end }}
                    </div>
                    <a data-slide="prev" href="#quote-carousel" class="left carousel-control"
                        aria-label="prev slide button"><span class="center-box">◀</span></a>
                    <a data-slide="next" href="#quote-carousel" class="right carousel-control"
                        aria-label="next slide button"><span class="center-box">▶</span></a>
                </div>
            </div>
        </div>
</section>
{{end}}