<footer id="myFooter" class="pt-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h5 class="footcenter">Get started</h5>
                <ul>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a href="index.html">Home</a>
                    </li>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a href="{{.Site.BaseURL}}about/geo_tattoos/">About
                            us</a></li>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a
                            href="Tattoo_Pictures.php">Gallery</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h5 class="footcenter">Reach us</h5>
                <ul>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a href="contact.php">Contact
                            us</a></li>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a href="feedback.php">Send
                            feedback</a></li>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a
                            href="bookappointment.html">Book appointment</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                <h5 class="footcenter">Other gallery</h5>
                <ul>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a
                            href="Tattoo_Removal_Pictures.php">Tattoo Removal</a></li>
                    <li class="footcenter"><i class="fa fa-angle-double-right"></i>&nbsp;<a
                            href="Tattoo_Training_Pictures.php">Tattoo Training</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="h5-copy footcenter">
                    <i class="fa fa-map-marker"></i>&nbsp;<span>Our Locations</span>
                </div>
                <ul class="pl-1">
                    <li class="footcenter">
                        <i class="fa fa-angle-double-right"></i>&nbsp;<b>Head Office:</b>
                    </li>
                    <li class="footcenter pl-20">
                        <a href="https://goo.gl/maps/GfWkdU3ZiKm" target="_blank" rel="noopener"
                            aria-label="Geo Tattoos head office address">Roundtana, Anna Nagar</a>
                    </li>
                    <li class="footcenter">
                        <i class="fa fa-angle-double-right"></i>&nbsp;<b>Branches:</b>
                    </li>
                    <li class="footcenter pl-20">
                        <a href="https://goo.gl/maps/JjAVi9pdViz" target="_blank" rel="noopener"
                            aria-label="Geo Tattoos Shanthi colony address">Shanthi Colony, Anna Nagar</a>
                    </li>
                    <li class="footcenter pl-20">Kellys</li>
                    <li class="footcenter pl-20">
                        <a href="https://g.co/kgs/3WX2YY" target="_blank" rel="noopener"
                            aria-label="Geo Tattoos Arumbakkam address">Arumbakkam</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 pl-0">
                <div class="h5-copy footcenter">
                    <i class="fa fa-add3 fa-envelope"></i>&nbsp;<span>Email</span>
                </div>
                <ol>
                    <li class="linone footcenter"><a href="mailto:george@geotattoos.com?Subject=Hello%20Geo%20Tattoos"
                            target="_top">george@geotattoos.com</a>
                    </li>
                    <li class="linone footcenter"><a href="mailto:geotattoos@gmail.com?Subject=Hello%20Geo%20Tattoos"
                            target="_top">geotattoos@gmail.com</a></li>
                </ol>
            </div>
        </div>
    </div>
    <div class="second-bar">
        <div class="container">
            <p class="text-center">Copyright ©
                <script>document.write(new Date().getFullYear());</script>&nbsp;Geo Tattoos<br>Made
                with&nbsp;<i class="fa fa-heart" aria-hidden="true"></i>&nbsp;by&nbsp;<a
                    href="https://www.tensketch.com/" title="website developer link"
                    aria-label="website developer link" target="_blank" rel="noopener">TenSketch</a></p>
        </div>
    </div>
</footer>