<footer>
    <div class="overlay py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h1>🔗 Links</h1>
                    <ul>
                        <li><a href="{{.Site.BaseURL}}">🏡Home</a>
                        </li>
                        <li><a href="{{.Site.BaseURL}}about_us">✍🏼About
                                us</a></li>
                        <li><a href="{{.Site.BaseURL}}gallery/tattoo-making">🖼Gallery</a></li>
                        <li><a href="{{.Site.BaseURL}}gallery/tattoo-removal">Tattoo Removal</a></li>
                        <li><a href="{{.Site.BaseURL}}gallery/tattoo-training">Tattoo Training</a></li>
                    </ul>
                    <h1>🤙🏼 Reach us</h1>
                    <ul>
                        <li><a href="{{.Site.BaseURL}}contact-us">Contact
                                us</a></li>
                        <li><a href="{{.Site.BaseURL}}feedback">Send
                                feedback</a></li>
                        <!-- <li><a
                            href="bookappointment.html">Book appointment</a></li> -->
                    </ul>
                </div>
                <div class="col-md-4 col-sm-6">
                    <h1>📌 Our Locations</h1>
                    <ul>
                        <li>
                            <a href="https://g.page/geotattooschennai" target="_blank" rel="noopener"
                                aria-label="Geo Tattoos roundtana location"
                                title="Geo Tattoos roundtana location">Roundtana, Anna Nagar</a>
                        </li>
                        <li>
                            <a href="https://goo.gl/maps/HH2TgWjTZCKsZDxt5" target="_blank" rel="noopener"
                                aria-label="Geo Tattoos Shanthi colony location"
                                title="Geo Tattoos Shanthi colony location">Shanthi Colony, Anna Nagar</a>
                        </li>
                        <li><a href="https://g.co/kgs/GWe4P4" target="_blank" rel="noopener"
                                aria-label="Geo Tattoos Purasaivakkam location"
                                title="Geo Tattoos Purasaivakkam location">Purasaivakkam</a></li>
                        <li>Arumbakkam</li>
                        <!-- <li>Kellys</li> -->
                    </ul>
                    <h1>📧 Email</h1>
                    <ol>
                        <li><a href="mailto:george@geotattoos.com?Subject=Hello%20Geo%20Tattoos"
                                target="_top">george@geotattoos.com</a>
                        </li>
                        <li><a href="mailto:geotattoos@gmail.com?Subject=Hello%20Geo%20Tattoos"
                                target="_top">geotattoos@gmail.com</a></li>
                        <li class="mt-2">
                            <a href="https://wa.me/919884211116" target="_blank" rel="noopener"
                                title="send a whatsapp message" aria-label="send whatsapp message">
                                <img src="/images/whatsapp.png" class="lazyload" alt="send whatsapp enquiry">
                            </a>
                        </li>
                    </ol>
                </div>
                <div class="col-md-5 col-sm-12">
                    <h1>Send a message</h1>
                    <form name="contact" method="POST" data-netlify="true" data-netlify-recaptcha="true">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" name="Name" placeholder="Enter your name"
                                aria-label="Name" required>
                        </div>
                        <div class="form-group">
                            <label>Contact #</label>
                            <input type="tel" class="form-control" name="Contact #"
                                placeholder="your 10 digit mobile no." aria-label="contact_no" minlength="10"
                                maxlength="10" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label>Email</label>
                            <input type="email" class="form-control" name="Email id" placeholder="abc@somemail.com"
                                aria-label="e_mail_address" autocomplete="off" required>
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <textarea class="form-control" name="Message" placeholder="Enter your message" rows="3"
                                aria-label="message" spellcheck="false" required></textarea>
                        </div>
                        <div data-netlify-recaptcha="true" class="recaptcha"></div>
                        <input type="submit" class="btn btn-block" value="Submit" aria-label="Submit button">
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>
<section class="copyrights bg-black text-center">
    <div class="container">
        <p class="text-center">Copyright ©
            <script>document.write(new Date().getFullYear());</script> Geo Tattoos<br>Made
            with ❤ by <a href="https://www.tensketch.com/" title="website developer link"
                aria-label="website developer link" target="_blank" rel="noopener">TenSketch</a></p>
    </div>
</section>