<!-- main-navbar -->
<nav class="navbar navbar-default navbar-fixed-top" style="background-color: #fff;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{.Site.BaseURL}}" aria-label="Geo Tattoos home page link">
                <img src="/images/logo.png" class="img-logo" alt="Geo Tattoos logo">
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse pull-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{.Site.BaseURL}}">Home</a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Gallery<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{.Site.BaseURL}}gallery/tattoo-making">Tattoo Making</a></li>
                        <li><a href="{{.Site.BaseURL}}gallery/tattoo-removal">Tattoo Removal</a></li>
                        <li><a href="{{.Site.BaseURL}}gallery/tattoo-training">Tattoo Training</a></li>
                    </ul>
                </li>
                <li><a href="{{.Site.BaseURL}}feedback">Feedback</a></li>
                <li><a href="{{.Site.BaseURL}}about_us">About us</a></li>
                <li><a href="{{.Site.BaseURL}}contact-us">Contact us</a></li>
                <li><a href="https://www.facebook.com/geotattooschennai/" target="_blank" rel="noopener"
                        aria-label="Geo Tattoos facebook page"><i class="fab fa-facebook fa-size"></i></a>
                </li>
                <li><a href="https://www.youtube.com/user/Geotattoos" target="_blank" rel="noopener"
                        aria-label="Geo Tattoos youtube page" class="pad-last-child"><i
                            class="fab fa-youtube fa-size"></i></a></li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">📞<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="tel:+919884211116" title="tap to call mobile"
                                aria-label="tap to call mobile">📱9884211116</a></li>
                        <li><a href="tel:04426211116" title="tap to call landline"
                                aria-label="tap to call landline">📞04426211116</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>