<style>
    .masonry {
        columns: 2;
        column-gap: 5px;
    }
    .masonry-item {
        justify-content: center;
        display: flex;
        flex-direction: row;
        margin-bottom: 5px;
    }
    .masonry-item,
    .masonry-content {
        overflow: hidden;
    }
    .masonry-content {
        width: 200px;
        height: auto;
    }
    @media (min-width:1024px) {
        .masonry {
            columns: 6 !important;
        }
    }
    @media (max-width:1023px) and (min-width:768px) {
        .masonry {
            columns: 4 !important;
        }
        .masonry-content {
            width: 250px !important;
        }
    }
    @media (max-width:767px) and (min-width:601px) {
        .masonry {
            columns: 3 !important;
        }
    }
</style>