<nav class="navbar navbar-default" data-spy="affix" data-offset-top="197">
    <div class="container">
        <div class="navbar-header navbar-left pull-left">
            <a class="navbar-brand" href="{{.Site.BaseURL}}" aria-label="Geo Tattoos home page link">
                <img class="img-fluid" src="/images/geo-logo.png" alt="geo tattoos logo">            
            </a>
        </div>
        <div class="navbar-header navbar-right pull-right">
            <ul class="nav pull-left">
                <li class="pull-right">
                    <a href="tel:+919884211116" class="nav-icon" title="tap to call mobile"
                        aria-label="tap to call mobile"><span class="emoji-font-med">📱</span> <span
                            class="d-none-mob">9884211116</span></a>
                </li>
                <!-- <li class="pull-right">
                    <a href="https://www.facebook.com/geotattooschennai/" class="nav-icon" target="_blank"
                        rel="noopener" aria-label="Geo Tattoos facebook page">
                        <img src="/images/facebook.png" class="img-responsive" alt="facebook logo">
                    </a>
                </li>
                <li class="pull-right">
                    <a href="https://www.youtube.com/user/Geotattoos" class="nav-icon" target="_blank" rel="noopener"
                        aria-label="Geo Tattoos youtube channel">
                        <img src="/images/youtube.png" class="img-responsive" alt="youtube logo">
                    </a>
                </li> -->
            </ul>
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="visible-xs-block clearfix"></div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{{.Site.BaseURL}}">Home</a>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                        aria-expanded="false">Gallery<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{{.Site.BaseURL}}gallery/tattoo-making">Tattoo Making</a>
                        </li>
                        <li>
                            <a href="{{.Site.BaseURL}}gallery/tattoo-removal">Tattoo Removal</a>
                        </li>
                        <li>
                            <a href="{{.Site.BaseURL}}gallery/tattoo-training">Tattoo Training</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{{.Site.BaseURL}}feedback">Feedback</a>
                </li>
                <li>
                    <a href="{{.Site.BaseURL}}about_us">About us</a>
                </li>
                <li>
                    <a href="{{.Site.BaseURL}}contact-us">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
