html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  overflow-x: hidden;
}
@font-face {
  font-family: "ifc_railroadbold";
  src: url("/ifc_railroad_2-webfont.eot");
  src: url("/ifc_railroad_2-webfont.woff2") format("woff2"),
    url("/ifc_railroad_2-webfont.woff") format("woff"),
    url("/ifc_railroad_2-webfont.ttf") format("truetype"),
    url("/ifc_railroad_2-webfont.svg#ifc_railroadbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100%;
  width: 100%;
  padding-top: 92px;
  font-size: 1.7rem !important;
  font-family: "Josefin Sans", sans-serif;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
small {
  color: #fff !important;
  letter-spacing: 1.5px !important;
  line-height: 1.5em !important;
  margin-top: 10px;
}
h1,
h2 {
  text-align: center;
  font-family: "ifc_railroadbold", sans-serif;
  text-transform: uppercase;
}
p {
  text-align: justify;
}
li {
  line-height: 1.6em !important;
  letter-spacing: 1.5px;
  color: #fff !important;
  margin-bottom: 1rem;
}
/*navbar */
.img-logo {
  height: 65px;
}
.navbar-default {
  box-shadow: 0px 0.5px 7px #2d2d2d;
  padding: 20px 10px;
}
.navbar .navbar-nav {
  margin-top: 6px;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #000;
  transition: 0.3s ease-in-out;
  border-radius: 50px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
  background-color: #414141;
}
.nav-icon {
  color: #414141;
  margin-top: 5px;
}
.navbar-default .navbar-collapse,
.navbar-default {
  border-color: transparent;
}
.nav > li {
  margin-bottom: 0;
}
.emoji-font-med {
  font-size: 2.2rem;
}
/* navbar desktop */
@media (min-width: 768px) {
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
  }
  .navbar .navbar-collapse {
    text-align: center;
  }
}
/* tablet landscape and other devices */
@media (max-width: 991px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
}
[data-src] {
  min-width: 50px;
  min-height: 50px;
}
.center-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.bg-black {
  background-color: #000;
}
/* margin and padding */
.mb-0 {
  margin-bottom: 0px;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.mb-4 {
  margin-bottom: 4rem;
}
.my-5 {
  margin: 5rem auto;
}
.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.pt-3 {
  padding-top: 3rem !important;
}
.py-5 {
  padding: 5rem 0;
}
.btn {
  font-size: 16px;
  background: #fff;
  color: #414141 !important;
  border-radius: 50px;
  transition: all 0.3s;
}
.btn-center {
  width: 30%;
  margin: 3rem auto;
}
.parallax {
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.overlay {
  background: #0a0a0a9c;
}
/* footer-new */
footer {
  background: url(/images/footer-bg.jpg) no-repeat center;
  background-size: cover;
  color: white;
}
footer h1 {
  font-size: 25px;
  text-align: left;
}
footer ul,
footer ol {
  list-style: none;
}
footer a {
  color: #e6e6e6;
  font-weight: 600;
  transition: 0.2s ease-out;
}
footer a:hover,
footer a:focus {
  text-decoration: none;
  color: #fff !important;
  position: relative;
  left: 2px;
}
footer li {
  line-height: 2em !important;
}
label {
  margin-bottom: 1rem;
  letter-spacing: 1px;
  text-transform: unset;
  color: #fff !important;
}
.copyrights a {
  color: #e9e9e9;
  transition: 0.2s;
  line-height: 68px;
}
.copyrights a:hover {
  text-decoration: underline !important;
  color: #fff !important;
}
@media (max-width: 767px) {
  footer h1,
  footer li,
  footer label {
    text-align: center;
    display: block;
  }
  footer h1 {
    margin-top: 2rem;
  }
  footer ol,
  footer ul {
    padding: 0;
  }
}
/* mobile */
@media (max-width: 600px) {
  .nav > li > a {
    padding: 8px;
  }
  .d-none-mob {
    display: none;
  }
  h1 {
    font-size: 1.7em;
  }
  h2 {
    font-size: 1.5em;
  }
  p {
    font-size: 13px;
    text-align: center;
  }
  .px-3 {
    padding: 0 3rem;
  }
  .img-logo {
    height: 45px;
  }
  .btn-center {
    width: 90%;
  }
  .mb-5 {
    margin-bottom: 2rem !important;
  }
  .mb-4 {
    margin-bottom: 3rem !important;
  }
}
/* navbar tablet potrait */
@media (min-width: 601px) and (max-width: 768px) {
  h1 {
    font-size: 1.8em;
  }
}
/* to be placed at end only-defering render blocking resources */
a:hover,
a:active,
a:focus {
  /* color: #cecece !important; */
  text-decoration: none !important;
}
.btn:hover {
  background: #414141;
  color: #fff !important;
}
/* place at end only */
::selection {
  background-color: #fff;
  color: #000;
}
